[2021-01-29 12:10] shivams opened #1 "[Feature Request] Show selected items on top when using fuzzy multi-select"
First of all, thanks a lot for this wonderful port. PyInquirer was using many old libraries and had become unusable. This comes as a life-saver!

Now, on to the issue (a feature request actually).

Let's say I have a list of 1000 items in my multi-select question. I would want my selected items to be shown at the top. It helps to keep track of what has already been selected while doing the fuzzy s

[2021-02-01 21:57] kazhala commented on #1
Hi @shivams,

Thanks for using the module. Sorry for the late response.

Regarding the feature request, you'd like to have selected items stick at the top no matter what word is being searched? So like if current choices are `["hello", "world", "foo", "boo"]` and you have selected `boo`, you'd like `boo` to stick at the top even if the search field has `asdfasfadsfas` which yields zero available c

[2021-02-01 22:52] shivams commented on #1
Hi @kazhala:

Yes. You understood it correctly. This is exactly what I have in mind. Thank you for explaining the feature request with an example.

### The Concern
Your concern is valid. One solution could be to limit the visibility of the pinned options (i.e. only show up to, say, 5 items). But this wouldn't really solve the problem (since pinned items may easily go above a given limit).

Another

[2021-02-01 23:30] kazhala commented on #1
Hi @shivams,

I like your second solution, so could be like a split in the middle of all the choices. Left is the normal list of choices and the right split is only the selected choices. Perhaps an optional keybinding to toggle the split and provides keybinding to switch focus.

Should be alright to implement, I'll look into it when I get some time this weekend.

Cheers,
Kevin

[2021-04-19 19:18] rthill91 opened #2 "[Feature Request] Defaults for multi-select list"
I'd really like to be able to have default selections for a multi-select list. I would envision this as either an extension of the existing `default` key where I could pass a list of selections, or as an option in the choices like

[code]

Apologies if this is already possible and I just missed it.

[2021-04-21 02:56] kazhala commented on #2
Hi @rthill91,

You are right, the behaviour you are describing is not present in the current version.

I'll work on this behaviour, it should be a very easy twist.

Thanks,
Kevin

[2021-04-27 14:26] jfilipedias opened #3 "[Feature Request] Disable qmark"
Hey guys, how are you? Thank you for the incredible work with this project.

I am using the project and I would like to know if it is possible to disable qmark before a question. I actually left an empty string in the arg as `qmark=''`, but the inquirer still adds a space before the question. At the terminal, it appears that the question is indented incorrectly. It would be nice if you could disab

[2021-04-28 00:09] kazhala commented on #3
Hi @jfilipedias,

Thanks for raising this up. Indeed the current implementation didn't take your scenario into account. I'm happy with your suggestions and would like to include that in the next release.

PR is always welcome, you'd wanna look into the following [lines](https://github.com/kazhala/InquirerPy/blob/9f67125f808cbe6a73ab3cb652f35faba3f3443e/InquirerPy/base.py#L193-L194).

Thanks,
Kevin

[2021-04-29 23:37] jfilipedias commented on #3
Hey @kazhala, how's it going? I opened the PR #4

[2021-05-01 01:15] #3 closed

[2021-05-01 05:51] kazhala commented on #2
Hi @rthill91,

The new release v0.2.0 has the behaviour implemented. It requires `multiselect=True` and the key name is `enabled`, the reason is to keep it consistent with the checkbox prompt.

[code]

I'll close the issue for now. If you encounter any issues while using it, feel free to reopen it.

Thanks,
Kevin

[2021-05-01 05:51] #2 closed

[2021-05-26 10:32] piyush-das opened #5 "Typo in example_pizza.py"
Hi,

There is a minor typo in the pizza example where the list should reference the element as `x[0]` rather than `x["0"]`.
https://github.com/kazhala/InquirerPy/blob/cff560fe5e7b13eb903341d8e2c1ea4d025304b3/examples/example_pizza.py#L20

On a side note, I believe pydantic would go really well with InquirerPy as building a CLI around configurations does happen a lot and then  the validators from p

[2021-05-27 21:13] iancote opened #6 "Feature Request - Keybinding to go back to previous question"
Hello!

I really appreciate the work you did on this.  The fuzzy search is pretty key.  I was wondering how hard it would be or if it's possible to return to a previous question in case the user needed to change the input?

My use case is a group of questions:

- Do you like pizza?
- What do you want on it?
- Take out or delivery?

and as the user answers the questions, realizes at the take our/de

[2021-05-30 05:03] #5 closed

[2021-05-30 05:04] kazhala commented on #5
Hi @piyush-das ,

Thanks for pointing it out. Indeed it was a typo.

Thanks,
Kevin

[2021-05-30 05:10] kazhala commented on #6
Hi @iancote ,

The feature you are describing was in my consideration a while back. But it would require a lot of architecture changes and quite a lot of development effort.

On a high level, the UI class is destroyed every time an answer is answered and simply print a formatted text. In the case of editing the previous answer, it would either don't destroy the UI class (which I'm not willing to d

[2021-05-30 05:43] piyush-das opened #7 "[Query] Helping user with key binding cues."
Hi,

Besides the prompt message, is a there a way to give cues about the key bindings (like some sub text which has a greyed out styling )? This would be particularly useful in the case where there is a multi-select or a single selection available. Additionally it might also inform the user that using tab would help to kick in the auto-completion.

Or perhaps this information section could also be

[2021-05-30 06:27] kazhala commented on #7
Hi @piyush-das ,

At the moment, you can leverage the parameter ```instruction``` to provide some keybinding information to the user.

[code]

The instruction will be printed using a different colour behind the question. You can also customise the instruction style. It is documented [here](https://github.com/kazhala/InquirerPy/wiki/Style).

It is not currently supported for none list type prompts,

[2021-05-30 06:31] kazhala commented on #5
Hi @piyush-das ,

Sorry missed your second part of the message. I checked out pydantic and it does seem like a pretty good tool to validate the classic style parameter. I'll look into it. Thanks for the suggestion.

Thanks,
Kevin

[2021-05-30 07:32] piyush-das commented on #7
Yeah , the concept of customization instructions to prompts seems like a great addition. Thanks

[2021-06-05 07:31] piyush-das opened #8 "[Feature Request] Default selections for Checkbox"
Hi,

Presently there is no way to have certain checkboxes pre-enabled like sanity "default" configuration. Would be great if we can have the same.

The default argument in the checkbox only changes the location selector arrow index, however from an API perspective for checkbox, "default" should ideally mean the choices  which are selected/enabled by default. But then this is subjective and depends

[2021-06-05 07:36] kazhala commented on #8
Hi @piyush-das ,

You can actually pre-enable checkbox, this feature is currently present. You can have look at this checkbox example https://github.com/kazhala/InquirerPy/blob/master/examples/example_checkbox.py.

Each item in the checkbox list supports a key called `enabled`. If this is `True` then the checkbox is enabled by default.

You are correct that the default argument only changes the se

[2021-06-05 07:36] #8 closed

[2021-06-11 05:26] piyush-das opened #9 "[Question] Option to disable selector from rolling over to first choice"
Hi,

Currently on trying to scroll down in a select or checkbox prompt, after the end of the choices is encountered, the selector reverts to the first index. Is there a way we can disable this?

Thanks

[2021-06-11 05:29] kazhala commented on #9
Hi @piyush-das ,

At the moment no, but I agree there should be an option to disable it. It would be a fairly simple tweak, I will add that customization over the weekend.

Thanks,
Kevin

[2021-06-14 13:02] kazhala commented on #9
I've added a parameter called `cycle` in all list type prompts. It's `True` by default, you can achieve the behaviour you want by setting it to `False`.

I'll make a new release tmr.

Thanks,
Kevin

[2021-06-14 13:02] #9 closed

[2021-07-03 09:53] kazhala commented on #9
Hi @piyush-das,

Apologies for the delay, the new version 0.2.1 is released.

Thanks,
Kevin

[2021-07-14 17:39] rthill91 opened #10 "[Question] Ability to choose none in multiselect list"
Is there any way to allow the user to select zero options in a multiselect list?

When using a multiselect list if none of the choices have been selected `Enter` selects the currently highlighted option and proceeds. If one or more options have been selected the currently highlighted option is ignored.

[2021-07-15 07:03] kazhala commented on #10
Hi @rthill91 ,

There is a possible way with the current released version. If you set the prompt to not raise KeyboardInterrupt, when encountering a KeyboardInterrupt, the question is skipped and no selection is made. The argument `raise_keyboard_interrupt` is used to manage this behavior.

Classic syntax
[code]

Alternate syntax
[code]

In the case if you still want no KeyboardInterrupt raised an

[2021-07-26 15:45] rthill91 commented on #10
I still think this might be a valuable addition, but I decided that checkbox had the functionality I needed and was probably a better fit for my case anyway. From my perspective at least this issue is closed.

[2021-07-26 16:02] rthill91 opened #11 "[BUG] Prompt message flows off screen rather than wrapping"
If the combined length of message and instruction is larger than the terminal width the beginning of the message is lost.

[code]

[code]

[2021-07-27 01:07] kazhala commented on #11
Hi @rthill91 ,

Thanks for reporting. Looks like the cursor at the end of the question line is causing that issue, shouldn't be too hard to fix.

Just FYI, personally not sure if line wrapping is possible at this stage but I'm looking to implement some way to have a dedicated instruction area.

A bit busy lately, things might not move forward as fast.

Thanks,
Kevin

[2021-07-27 12:34] rthill91 commented on #11
Line wrapping definitely addresses my current needs, but I'm really interested in the dedicated instruction area you mention. I look forward to it in a future update.

Anyway, thanks for the quick turnaround!

[2021-08-02 06:56] kazhala commented on #11
Hi @rthill91 ,

Apologies for the delay, the issue is now fixed at master. I'll include this in the next release. I feel like it might be beneficial to have the option to configure the line wrapping behaviour. In the case of not wrapping, I still need to fix the cursor position.

Can't guarantee the time, but I'll try to get this out tmr.

Thanks,
Kevin

[2021-08-02 13:56] felipemeriga opened #12 "[Question] Testing the module"
Hello, InquirerPy uses prompt_toolkit in the background, which is a library where you are capable of mocking prompt answers. I know that there are some unit tests on that repo, but, is there a way to test and mock a result for InquirerPy prompt function ?

Thanks a lot!

[2021-08-02 16:45] eitchtee opened #13 "ConfirmPrompt custom keybindings for Yes and No"
Is there any plans for customizable keys for [Y]es and [N]o on ConfirmPrompt?

_E.g._ Are you sure? **(S/n)**

From an internalization standpoint it would be a good option to have as not every language uses Y and N for confirmation, despite it being the norm for CLI tools.

For example, I'm currently working on a user-facing tool in Portuguese, using this library, and the Y/n prompt creates some c

[2021-08-02 22:22] kazhala commented on #13
Hi @eitchtee ,

Thanks for raising this point. It makes sense.

I'll include this in the next release.

Thanks,
Kevin

[2021-08-02 22:35] kazhala commented on #12
Hi @felipemeriga ,

Depending on how far deep you wanna go with mocking, but if you are just looking to mock the prompt function (which I recommend, there's not really any benefit for you to mock deeper since it has already been tested by the unit test) it would be quite simple.

Module/somefunction.py
[code]

tests/test_somefunction.py
[code]

Might have typo but the idea is just directly mock th

[2021-08-02 22:35] #12 closed

[2021-08-02 22:35] eitchtee commented on #13
Thank you @kazhala, looking forward to it

[2021-08-04 11:54] kazhala commented on #13
Hi @eitchtee ,

This is now in included in v0.2.3 version. Please refer to the [changelog](https://github.com/kazhala/InquirerPy/blob/master/CHANGELOG.md#added) for information on how to use and customise this behaviour.

Thanks,
Kevin

[2021-08-04 11:54] #13 closed

[2021-08-04 11:55] kazhala commented on #11
Hi @rthill91 ,

I've added the option `wrap_lines` as part of the arguments, it is now released in the v0.2.3 version.

Thanks,
Kevin

[2021-08-04 11:55] #11 closed

[2021-08-12 09:59] theguy147 opened #14 "[Feature Request] Pre-Selection for Fuzzy Multiselection Prompts"
# Feature Request

## Pre-Selection for Fuzzy Multiselection Prompts

It would be very cool to be able to preselect items in a fuzzy multiselection either in place of the `default` option or as a new option entirely

### Suggested Usage

[code]

I was thinking of replacing the `default` option because it currently seems misleading to me.

### Possible Use-case

This can be used to save the state o

[2021-08-12 11:11] theguy147 commented on #14
Ok, nvm, closing this because the `enabled` key already exists. Sorry...

[2021-08-12 11:11] #14 closed

[2021-08-12 11:25] kazhala commented on #14
Hi @theguy147 ,

Thank you for the issue. Glad you found the solution already. This reminds me on improving the documentation (probably forgot to document this after implementing it)....I'm planning to migrate/upgrade the documentation in the near future. Stay tuned...

Thanks,
Kevin

[2021-08-12 12:32] theguy147 opened #15 "FuzzyPrompt with Multiselect should return None without selected item"
# FuzzyPrompt with Multiselect should return None without selected item

FuzzyPrompt with `multiselect=True` does not behave according to the documentation:

But  when no item is chosen/selected the one that was highlighted when hitting "Enter" is returned instead of None. This currently prevents the user from un-selecting all items in scenarios where this might be necessary (like e.g. ordering a

[2021-08-12 12:43] kazhala commented on #15
Hi @theguy147 ,

Thanks for pointing out. I guess the reason I decided to go with the current behavior is to sort of replicate the behavior from [fzf](https://github.com/junegunn/fzf).

I do wanna get some of the input tho. Currently we have #10 to track the progress of adding a special keybinding to skip a question, do you think that a multiselect without specific toggling a single choice should

[2021-08-12 13:09] theguy147 commented on #15
Hm, that is a good question. IMO there are two ways of looking at it:

1) You enter a multiselection with nothing selected and you only want to select one of the options. Then doing so by highlighting it and pressing "Enter" seems reasonable. Also just selecting one option with `<Tab>` (or other keybinding) beforehand appears to be unnecessary in this scenario.

2) You enter a multiselection and s

[2021-08-12 23:13] kazhala commented on #15
Hi @theguy147 ,

Might have been a bit misleading, I've been re-thinking this decision, atm the `raise_keyboard_interrupt` argument belongs to the `execute` function rather than the prompt itself. It would probably make sense to also add this argument to all prompts instead of just accepting it at the execute function.

[code]

## Regarding the issue itself

Thanks for your input. I can't recall m

[2021-08-13 15:10] theguy147 commented on #15
Thank you for the explanation. I'm looking forward to your final solution then :)

[2021-08-13 15:10] #15 closed

[2021-08-13 15:36] rthill91 opened #17 "Support for answer display differing from name"
I have a case  where I'm providing additional context information in my checkbox choices that, for ease of readability, I don't want to show in the answer confirmation.

Something like
[code]

This looks great at the prompt but if the user selects them all they'll end up with an answer/confirmation with something like

[code]

It's the options they selected but at that point the only relevant info

[2021-08-14 00:33] kazhala commented on #17
Hi @rthill91 ,

This feature currently exists, each prompt support an additional argument called `transformer` which should be a function that takes an argument (name or list of names of the choices) and will be up to you to perform additional logic to change the visual that displays.

It is documented [here](https://github.com/kazhala/InquirerPy/wiki/CheckboxPrompt#transformer-callableany-any).
A

[2021-08-14 00:42] kazhala commented on #17
In your case with the current behaviour of the transformer, you might have to do some string processing in the `transformer` function. If you are using the classic syntax it would be the same principal.

[code]

The above will produce the UI like the following.

[code]

[2021-08-14 03:51] kazhala opened #18 "[Bug] fuzzy prompt toggle_all toggles all choices instead of the filtered choices"
It currently toggles all choices despite if there's only a few choices visible.

[2021-08-16 13:00] rthill91 commented on #17
Reading comprehension failed me. I saw the transformer option and for some reason had it in my head that it affected the value, not the name. Thanks for the help!

[2021-08-16 13:00] #17 closed

[2021-08-17 04:55] kazhala opened #20 "[Bug] fuzzy prompt multiselection cannot type space due to its being binded to toggle"
Should at least disable the "space" kb by default

[2021-08-28 10:01] #20 closed

[2021-08-28 12:23] kazhala commented on #20
Closing this on the next release

[2021-09-17 10:54] lythu95 opened #22 "checkbox icon display error"
When executing check box examples, I found the check box icons were not displaying normally. I suppose it may be text encoding issue.
![image](https://user-images.githubusercontent.com/41465818/133771231-7c3bd9f4-03b3-4623-996e-776d0e772b90.png)

[2021-09-18 01:38] kazhala commented on #22
Hi @lythu95 ,

Thanks for reporting. I wasn't aware that the default icon is not as compatible as I would like. I'll do an update on the default icon for checkbox to make sure its more compatible.

Just a quick question about your environment, what terminal emulator and font are you using?

In the meantime, you can use the `enabled_symbol` and `disabled_symbol` parameter to change to a different i

[2021-09-18 10:02] lythu95 commented on #22
Thanks for quick response @kazhala

I executed this script on a remote server [CentOS linux 7.9.2009 / GNU bash 4.2.46 ].
SSH client is MobaXterm v12.03 build 4208, font setting being MobaFont with Charset UTF-8
![image](https://user-images.githubusercontent.com/41465818/133884860-0987dcaf-8ae8-4443-97bd-727756ebd958.png)

I really appriciate your work on inquirerpy, which helps me a lot after PyI

[2021-10-05 05:45] kazhala opened #23 "Feature: self manage spacing option"

[2021-10-05 06:10] kazhala commented on #22
Hi @lythu95,

After some investigation and searching, doesn't seem like a encoding issue since python3 auto detects unicode string and use utf8 encoding. I can also see that the pointer symbol/icon is showing without issues.

It's probably just both the hexagon icon is not that widely supported in some of the prompts. I've changed the default icon to unicode circles.

Could you take a look at the

[2021-10-07 05:34] kazhala opened #24 "Feature: Indicator that shows if there are more choices to be scrolled"

[2021-10-08 03:16] lythu95 commented on #22
Hi @kazhala ,
Now it works well and the circle icon displays normally. Thanks for  your efforts!
![image](https://user-images.githubusercontent.com/41465818/136492731-c724a67a-5fb6-4c13-bf0c-e9a22c36aae6.png)

[2021-10-12 07:17] ria02 opened #25 "[Bug] Promts with multiselect malfunction"
When new `keybindings` registered by user, promts with `multiselect=False` can be multiselected.

[code]

[2021-10-12 12:29] #18 closed

[2021-10-12 12:31] kazhala commented on #7
The latest release 0.3.0 now includes the parameter `long_instructions" which you can use to print longer instructions such as keybindings which will be displayed at the bottom of the screen.

[2021-11-16 07:47] robvanderleek opened #27 "How to determine pressed key from keybinding with multiple keys"
I would like to know which key was pressed if a keybinding has multiple keys configured.

This is a simplified use-case:
[code]
How can I determine if the user pressed [enter] or [d]?
Any alternative solutions are also appreciated!

Thanks for maintaining this great library!

[2021-11-16 22:41] kazhala commented on #27
Hi @robvanderleek ,

It does not export the key being pressed. However, I think usecases like this it's more reasonable to create custom keybindings.

Doc: [link](https://inquirerpy.readthedocs.io/en/latest/pages/kb.html#binding-custom-functions)

[code]

Alternativly if you want to process the deletion logic out side, you can also just `event.app.exit(result={"value": prompt.result_value, "delete

[2021-11-17 22:47] robvanderleek commented on #27
Hi @kazhala 👋

Thanks a lot for the quick and very helpful response.

The combination of a custom keybinding and `event.app.exit(...)` fits my use-case perfectly!

FWIW, I did read about custom keybindings in the documentation but could not figure out how to access the prompt selection and set the `execute()` return value inside the binding function, as you explained in this issue.

Again, thanks

[2021-11-17 23:57] #27 closed

[2021-11-19 06:46] TStrolia opened #28 "Cyclic import in select"
I am still a bit newer to python (only a year or so) and I have been trying to put something together that really just needs a well designed CLI and this has really been an amazing tool since development on PyInquirer seems to have slowed to a near halt. InquirerPy has been amazing.

There seems to be an issue with select having a circular import. I tried to find where it was specifically but got

[2021-11-19 06:55] kazhala commented on #28
Hi @TStrolia ,

Thanks for using the package and reporting issues! There are not currently any other bug trackers other than this issue thread.

I'm not aware that there are any pending cyclic import issues. Could you provide a bit more details like a code-snippet around how you encountered the cyclic import so that I could reproduce it?

Thanks,
Kevin

[2021-11-19 06:58] kazhala commented on #24
Haven't found any good solution to make this look decent and not clutter the limited space. Need to put this on-hold for now.

[2021-11-19 07:10] TStrolia commented on #28
I am having the issue with the example provided here copied and pasted https://inquirerpy.readthedocs.io/en/latest/pages/prompts/list.html

I tried with python 3.91 and 3.10 and both were giving me the issue.

[code]

[2021-11-19 07:49] kazhala commented on #28
Hi @TStrolia ,

I tried with python3.9.8 within a brand new venv and still could not reproduce the error message you are seeing.

[code]
test.py
[code]

Could you also paste the content of `l:/InquirerPyTest/select.py`? Not sure if it could be something in the file or it could be a platform issue for Windows.

The code itself doesn't seem to have any cyclic import upon checking the files, it could

[2021-11-19 07:52] TStrolia commented on #28
The select.py is exactly what you have above. nothing else added. Hmmmm.... Let me try with a venv and see if I am still having issues. I wasn't using one before and went as far as uninstalling all of my pip installs and only installing inquirerpy to see if something got hosed, but maybe a venv will be a different story.

[2021-11-19 08:01] kazhala commented on #28
Thanks, I'll have access to a windows machine on Monday to test it if it doesn't work out for you in a new venv.

[2021-11-19 08:11] TStrolia commented on #28
Thanks for taking a look. Yeah I am having the same problem in a new project and venv copying and pasting your code from above. Definitely strange

[2021-11-19 08:17] kazhala commented on #28
That's a bit unfortunate. I'll give it a shot in python10 tomorrow and otherwise I'll try it on a windows machine on Monday.

In the meantime, since the inquirer module is not working for you. I suggest you should try directly using the prompt classes for now.

`from InquirerPy.prompts import ListPrompt`

[2021-11-19 19:17] TStrolia commented on #28
Seems I am having the issue with `from InquirerPy.prompts import ListPrompt` as well. Thats Ok. I will try to sorta mix and match with PyInquirer for now. I tried on my other windows machine as well and am having the same issue. I noticed I was getting an error on install about prompt_toolkit being the wrong version and that it is incompatible so so I manually reinstalled the correct version of pr

[2021-11-22 01:40] kazhala commented on #28
Hi @TStrolia ,

It can't be used alongside with PyInquirer as PyInquirer has a hard cap on prompt-toolkit at version 1.0.3 which is extremely outdated.

I've just tested the snippet on a windows 10 machine with python3.8 and still couldn't reproduce the error...

[code]

![image](https://user-images.githubusercontent.com/43941510/142788524-6355a520-f38c-4e15-a004-f7cd2f138930.png)

I'm not too sur

[2021-11-22 18:13] Akusem opened #29 "Feature: Add a toggle All option for checkbox"
Hi,
First, thank you for developing InquirerPy, I find it really user-friendly and Pythonic with the alternative syntax !

I'm making this issue because I've encountered a situation that the library doesn't seem to handle (at least to my knowledge) which could be useful I think.
I'm currently using the checkbox prompt to choose which step a pipeline should be executed, but as it contains many step

[2021-11-22 21:21] kazhala commented on #29
Hi @Akusem ,

Not sure if you are aware of the keybinding option you could set for the prompt. For the checkbox prompt, there's an existing built-in keybinding "alt-r" and "ctrl-r" to toggle all of the options. This is documented [here](https://inquirerpy.readthedocs.io/en/latest/pages/prompts/list.html#keybindings).

You could customise the keybinding to your preference and also use the parameter

[2021-11-23 01:33] Akusem commented on #29
Thanks for your help @kazhala.

Yes, I wasn't aware of the keybinding option, I didn't take it into account when using the select prompt, and it isn't present in the checkbox docs.
I know it's my fault for not reading this part of the docs, but I would recommend putting some word inside this part of the docs as I will certainly not be the only user to forget about the keybinding.

Perfect recommen

[2021-11-23 02:20] kazhala commented on #29
Hi @Akusem ,

Thanks for the suggestion. I agree, I think having a bit more illustration on the checkbox keybindings could be more helpful instead of just linking to the other page.

I'll work on it first and then close this issue.

Thanks,
Kevin

[2021-11-25 00:59] corzani opened #30 "RuntimeError: This event loop is already running"
I am dealing with InquirerPy within an asyncio task something like:

[code]

In any case I receive this kind of error:

[code]

Is there a better way to avoid this error instead of using nest-asyncio like libraries?

[2021-11-25 01:18] kazhala commented on #30
Hi @corzani ,

Thanks for reporting. I'm aware of this issue at the moment. Async application is not yet officially supported yet. It is in my backlog to be supported in the near future.

Stay tuned. I'll work on this possibly after the next release.

Thanks,
Kevin

[2021-11-25 04:48] kazhala commented on #30
Sorry forgot to answer your last question. Although not well tested, but for now you can run the app async like this.

[code]

[2021-11-25 19:29] corzani commented on #30
Thank you @kazhala
This solution works and at the moment I'll stick with it.

[2021-11-25 19:29] #30 closed

[2021-11-29 21:47] kazhala commented on #29
Docs added. Thanks

[2021-11-29 21:47] #29 closed

[2021-12-02 13:02] Pluckerpluck commented on #28
The issue is in the stack trace:

[code]

`select` is [a built in library](https://docs.python.org/3/library/select.html). But you've named your file that, so when the library tries to use `select` it is actually trying to re-import your module.

When you get a circular import, the stack trace is **by far** the most useful debugging tool

[2021-12-02 14:14] TStrolia commented on #28
Hey sorry for the very late reply. Stepped away for a little while. Thank you yeah that unfortunately wasn't the issue.

This however seems to be it. It is funny because this is the first time i have done something like that. Just made sense to keep a reference on my local machine and name the files accordingly so I don't have to keep jumping to the docs, and here I am scratching my head why that

[2021-12-02 14:14] #28 closed

[2021-12-02 18:26] Pluckerpluck opened #32 "FilePath (on Windows) doesn't autocomplete past the first directory using /"
When using the `filepath` on windows, it autocompletes with a forward slash. It doesn't actually add the foward slash when you hit tab, but it's there visually in the autocomplete. However, if you use a forward slash, the system no longer autocompletes. You **must** type a `\` despite what the prompt said.

In reality, both `/` and `\` should be accepted on Windows. But at minimum, the prompt shou

[2021-12-03 01:13] kazhala commented on #32
Hi @Pluckerpluck ,

Thanks for reporting, indeed these were not taken into consideration while implementing the prompt as I do not work with Windows at the time.

I'll do some testing on my work laptop and work on it.

Thanks,
Kevin

[2021-12-09 22:32] kazhala commented on #30
Async execution will be included in the next release.

Forgot to mention that for now, if you wish to run async for the following prompt: text, filepath, confirm, secret, you'll do the following:

[code]

Internally, these are built differently than list prompts such as fuzzy.

Thanks,
Kevin

[2021-12-09 23:06] corzani commented on #30
@kazhala
Thank you Kevin, that's very kind of you. I only needed the fuzzy bit and at the moment everything works well.
I made a poor man command line radio because I was bored of life that day... It's called radio81.
You can try it and feel, in some ways, the father of that radio too :). Unfortunately that version requires VLC but I guess you have it already...
[code]

[2022-01-02 09:02] Psychokiller1888 opened #33 "Passing previous answers"
Hi!

Perfect, thank you very much for this, it was getting catastrophic with pyinquirer and the deprecated prompt-toolkit.

As you state on Pypi, I report one broken thing: Passing answers to `prompt` to merge next answers to

[2022-01-20 23:14] kazhala commented on #33
Hi @Psychokiller1888 ,

Apologies for the late reply, busy with work lately and still need some time before I can get back to work on issues and new features.

In the meantime, could you describe a bit further what behaviour are you expecting and what are you seeing? The `session_result` is actually an internal parameter to support PyInquirer classic syntax, but still curious what unexpected behav

[2022-01-25 08:07] DeadNews opened #34 "[Feature Request] 'exact' parameter for fuzzy prompt"
Like https://github.com/dahlia/iterfzf#user-content-iterfzfiterfzfiterable-options
[code]
ref: https://github.com/kazhala/pfzy/blob/71e4dae11020d31d9baf0b25df8ee95836c6787c/docs/pages/usage.md#substr_scorer

[2022-01-28 04:36] kazhala commented on #34
Hi @DeadNews ,

Thanks for the suggestion. It is now included in the latest release.

You can view the docs [here](https://inquirerpy.readthedocs.io/en/latest/pages/prompts/fuzzy.html#exact-sub-string-match).

Thanks

[2022-01-28 04:36] #34 closed

[2022-01-28 11:45] DeadNews commented on #34
Thanks. All works.

[2022-01-28 11:46] DeadNews commented on #34
@kazhala
Thanks. All works.

[2022-01-30 10:39] SolebaySharp opened #36 "Examples fail - cannot find modules."
Trying to run examples to see if I can switch to a maintained port of inquirer.js (desperately need it). But I can't run example scripts.

`from InquirerPy.base.control import Choice`
`ModuleNotFoundError: No module named 'InquirerPy.base.control'; 'InquirerPy.base' is not a package`

[2022-01-30 10:43] kazhala commented on #36
Hey @SolebaySharp ,

Could you show a bit more information on which examples you are trying to run? I just did a test run from the root of the project and it's working fine.

[code]

Thanks

[2022-01-30 11:08] SolebaySharp commented on #36
Stand by, I think I've been an idiot.

[2022-01-31 11:53] SolebaySharp commented on #36
Yeah, Python reverted to an old version not compatible with InquierePy. Updating past Python3.6 prevented gnome terminal from working. It appears Python3.10 prevented InquirerPy and Terminal from working. Reverting to 3.9 allowed InquiererPy to work but changes in my virtual environment were going global, interfering with gnome.

At some point while I was trying to work out what was going on, I th

[2022-02-01 11:33] #36 closed

[2022-02-01 12:22] SolebaySharp opened #37 "TypeError: 'InquirerPyStyle' object is not a mapping"
Trying to run a basic `rawlist` question and the following error is occurring:

``TypeError: 'InquirerPyStyle' object is not a mapping``

If you could have a look when you are next free I would appreciate the help.

To replicate:

[code]

Script:

[code]
Running just...

`answer = prompt(my_question)`

allows the question to work without custom styling.

___________

n.b. In a possiby related issu

[2022-02-01 13:44] kazhala commented on #37
Hi @SolebaySharp ,

Thanks for reporting. I will take a look at the exception you are getting tomorrow.

But for the final comment on the possibility related part, seems to be me being careless on the doc. Should include `.execute()`.

[code]

Lemme know if you have encountered any further issues after adding execute.

Thanks,
Kevin

[2022-02-01 13:49] kazhala commented on #37
From another brief look, just on the high level. You may be encountering this issue because you are trying to use `get_style` with Classic Syntax.

With classic syntax (prompt), you don't need the get_style, rather just pass the style dictionary to it.

If you take a look further down the [Alternate Syntax](https://inquirerpy.readthedocs.io/en/latest/pages/style.html#alternate-syntax), it mentions

[2022-02-01 14:05] SolebaySharp commented on #37
Thank you Kevin, I really appreciate the assistance.

I'll try to fix my code tonight and close this.

[2022-02-01 14:32] SolebaySharp commented on #37
@kazhala just checked and using:

`test_style = {"separator": '#6C6C6C'}
`
Gets everything working. Once everything is running using InquirerPy not PyInquirer, I'll create a new version and transition everything into the alternate syntax. I'll close this, thank you.

[2022-02-01 14:32] #37 closed

[2022-02-01 22:14] restockflippaz opened #38 "On windows I cannot scroll."
I can scroll through a list on mac, but not on windows.

react = [
  inquirer.List('REACT',
                message="REACT TO MESSAGE?",
                choices=['YES', 'NO'],
            ),
]
reaction = inquirer.prompt(react)

[2022-02-01 23:39] kazhala commented on #38
Hi @restockflippaz ,

I'm able to scroll on windows using Alacritty as the terminal and also the default PowerShell terminal. Could you give it a shot in another terminal and perhaps it could also be affected by the PowerShell version you are on?

I'm not able to provide much help besides these as I personally don't really use windows. But for the information, the scrolling is working on Alacritty

[2022-02-01 23:39] kazhala commented on #38
Could you share which terminal and PowerShell version? If its a limitation I'll note it in doc. Thanks

[2022-02-01 23:57] restockflippaz commented on #38
its normal cmd on windows 10

[2022-02-02 00:01] kazhala commented on #38
Could you give it a try in powershell then? I'll note the cmd support in doc, the scrolling is directly controlled via upstream package [prompt-toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit#about-windows-support) which in this case, most likely doesn't work well in cmd.

[2022-02-03 23:04] kazhala commented on #32
Apologies for the delay on this action. It is currently included in 0.3.3 release, feel free to open it if you still encounter issues. Thanks

[2022-02-03 23:04] #32 closed

[2022-02-05 19:04] irons opened #39 "Exceptions from class-based validators"
I'm trying to migrate code from PyInquirer, which leans on class-based validators. Here's an example, borrowing from https://inquirerpy.readthedocs.io/en/latest/pages/validator.html:

[code]

This approach crashes InquirerPy, whether the prompt response is empty or not:

[code]

The outcome and stack trace are identical on python versions 3.7.10, 3.8.12, 3.9.10, and 3.10.2, all running on macOS 11

[2022-02-05 23:27] kazhala commented on #39
Hi @irons ,

Thanks for reporting. **This seems like another difference with PyInquirer that I didn't catch**. You'll need to initialise the validator before providing it to the prompt.

[code]

I'll update the doc to note this.

Thanks,
Kevin

[2022-02-06 01:08] irons commented on #39
Thanks for the rapid response. Easy change on my end, looks to be working well.

[2022-02-06 01:42] irons opened #40 "prompt() doesn't accept a dict of existing answers"
In PyInquirer, I'm benefiting from the ability to pass the same dict into prompt() that gets returned:

[code]

This lets me seed initial defaults from CLI options, and operate successive groups of questions that can reference past answers. Here's the [PyInquirer implementation](https://github.com/CITGuru/PyInquirer/blob/1.0.3/PyInquirer/prompt.py#L11). I don't see anything comparable for Inquirer

[2022-02-06 02:00] kazhala commented on #40
Hi @irons

You are correct, at the moment this feature does not exist, however looks like it's quite a straightforward feature and reasonable use-case. I can look into including it in the next release.

The only concern or edge case I can think about at the moment is what if the provided answer is using the "index" as the key (question without "name") in the answer dictionary. Do you always explic

[2022-02-06 19:52] irons commented on #40
Thanks. I do define question names consistently, because I nearly always ask more than one question at a time, so the names are how I get the answers out — until I tried it just now, I didn't know it would generate indexes in lieu of names.

If I re-use a name in a subsequent question, clobbering the existing value would be the outcome I'd expect, just as if I'd used the same name twice in a singl

[2022-02-27 14:41] arossert opened #41 "Dynamic change color choice name"
I'm using the fuzzy prompt to list EC2 instances, the choices are a list of `Choice` with a value and name, the name is in this format
[code]

I want that the running/stopped will be in green/red colors, is it possible to change the color of the line based on the status?
Also is it possible to only change this specific part of the string to a different color? I looked at `color_print` but couldn't

[2022-02-27 22:54] kazhala commented on #41
Hi @arossert ,

As of the current release, this feature does not exist yet. Thanks for raising it, I'll include this in the next release.

For changing a specific part of the string, it won't happen for `Choice` (it'll only for the entire choice), but for `color_print`, you essentially have to break your characters into multiple tuples. E.g. printing `hello world`

[code]

Thanks,
Kevin

[2022-02-27 23:36] arossert commented on #41
@kazhala thanks for the quick response.
even changing the whole choice text will be good, I did tried to look at how fuzzy prompt color part of the text in a different color as you search (it mark the found characters in pink) but I got lost ☺️

[2022-03-01 17:46] Quiquex opened #42 "Ctrl + c not captured properly when using register_kb"
Given the following code

[code]

Pressing ctrl+c isn't captured and a standard Keyboard Interrupt is received.
Setting another keyboard shortcut (ie: ctrl+y) works as supposed.
Experiencing this on Python 3.8.8 (Windows 10) and Python 3.8.10 (Linux)

[2022-03-06 14:59] 9Samzer opened #43 "Selected color"
Hey !
Is there a way to change current blue color for selection in Select ? Thxx

[2022-03-08 04:40] kazhala commented on #43
Hi @9Samzer ,

The current select is under the `pointer` style class, you can change it like this.

[code]

This will change the selection to yellow. Please refer to [doc](https://inquirerpy.readthedocs.io/en/latest/pages/style.html#style) for more info.

Thanks,
Kevin

[2022-03-08 04:40] #43 closed

[2022-03-08 04:47] kazhala commented on #42
Hi @Quiquex ,

Apologies for the late response. The `c-c` is binded by default to raise interrupt hence why you are experiencing this. The keybindings engine doesn't expose enough parameter to have you overwrite other bindings (I might look into this and expose a bit more).

For now, please disable the `c-c` keybindings.
[code]

Refer to the [doc](https://inquirerpy.readthedocs.io/en/latest/pages/

[2022-03-08 04:47] #42 closed

[2022-04-03 06:24] robot3498712 opened #44 "Memory usage over time (many prompts)"
Hi,
thanks a lot for this useful package.

I'm building an interactive app (not using asyncio) involving large lists and jumping back and forth instantiating new prompts on the way; it is intended to run for a while.
I noticed memory usage keeps growing and very little being released over time.

Am I right in assuming on event.app.exit() the prompt should exit and tear down entirely? Is there anyt

[2022-04-03 22:13] kazhala commented on #44
Hi @robot3498712 ,

Thanks for raising. You are correct that `event.app.exit()` should kill the app entirely, I'm not too sure if there's another way/entry point to cleanup. Since the entire application is built around [prompt_toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit) `Application`, it might be beneficial for you to raise it in their repository directly and see if they can

[2022-04-04 07:24] #44 closed

[2022-05-19 17:01] jonemo opened #45 "Missing py.typed marker file for PEP 561"
When type checking projects that depend on InquirerPy with `mypy` with default settings, the following error results in a type checking failure:

[code]

To reproduce:

1. Install `InquirerPy` as dependency into a project
2. Run `mypy my-project-directory` to type check the project

Related information:
* PEP 561: https://www.python.org/dev/peps/pep-0561/
* mypy docs about the error: https://mypy.

[2022-05-25 03:57] kazhala commented on #45
cross posting here ..

[2022-05-30 01:30] mr-ice opened #47 "where is when for inquirer?"
When using inquirer, there doesn't appear to be a when.   I was pretty happy with the Alternate scheme until I uncovered when was missing.

The Alternate had the extra information and 'mutliline' where the Classic does not appear to have those at all.  Classic is also missing 'editor' from PyInquirer which is another way to get multiline.

I need both 'when' and 'multiline'.

Is when a pretty big

[2022-05-30 07:02] kazhala commented on #47
Hi @mr-ice ,

I'm putting less development effort on the Classic version to encourage people to use the Alternate syntax. Editor prompt is not ported and I don't have plans to support it for now sorry.

The reason I didn't add a `when` feature in alternate syntax is you can simply add if conditions to check previous results to conditionally run the next question, which would also make the code mor

[2022-05-30 07:02] #47 closed

[2022-06-27 23:11] #45 closed

[2022-08-05 09:34] Sofahamster opened #48 "inquirer.py is not properly exporting functions"
Pylance in VS Code is reporting "incorrect usage of symbol imported from a "py.typed" module that is [not re-exported]".

Example code:

[code]

Reported error:
[code]

This can be fixed by adding `__all__` to `inquirer.py`:

[code]

Without the "__all__", every function all is marked as a problem.

[2022-08-10 13:43] atar-axis opened #49 "indent or submenu?"
Is there a way of nesting answers like a TOC and let the cursor jump to the right for subentries?

[code]

[2022-08-16 16:52] averycooke commented on #1
I've got a more specific version of this ask
basically can there be an option to remove this `len()` and just display `self.selected_choices`? And possibly hide the `num_selected/num_choices` count too.

[code]

It could just stay on that line and go off to the right. Once you run out of space, ellipsis. Not perfect in all situations, but better than current behavior in some.

This would be useful

[2022-08-16 17:11] averycooke commented on #1
f" ({list(map(lambda x: x.get('name','value'), self.selected_choices))})"  basically does it, but I don't know a way to distribute it.

[2022-08-20 21:24] ionite34 opened #50 "Incorrect type hint for `execute_async` as `None`, when it should be `Any`"
https://github.com/kazhala/InquirerPy/blob/master/InquirerPy/base/simple.py#L341-L355

The `execute_async` function has been incorrectly hinted to return `None`, when all the return paths actually return `Any`, as returned by `await self._run_async()`

[code]

This currently causes problems in downstream IDEs and type checked libraries as the result of this couroutine is improperly expected to be

[2022-11-17 18:10] averycooke opened #53 "Fuzzy - "Exception list index out of range" on empty selection"
Howdy! Got a bug report.

Python Version: 3.10
InquirerPy: 0.3.4

Steps to reproduce:
- run code snippet below
- on prompt, type "asdfasdf" or similar so that no results are shown for fuzzy match
- Press Tab to trigger selection
- Index error thrown
- Press ENTER and prompt restarts nicely, but it is hard to hide the error text or inform user nicely as we are stuck in the prompt's loop

Code:
[cod

[2022-11-19 02:05] #48 closed

[2022-11-19 02:08] #50 closed